<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom sticky-top py-2">
    <div class="container-fluid">
  
        <!-- Brand -->
        <a class="navbar-brand" href="/listings">
            <i class="fa-solid fa-compass fs-3"></i>
        </a>
  
        <!-- Mobile Toggle -->
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Navbar Content -->
        <div class="collapse navbar-collapse mt-2 mt-md-0" id="navbarNav">
  
            <!-- Left Links -->
            <div class="navbar-nav me-auto">
                <a class="nav-link" href="/listings">Explore</a>
            </div>
  
            <!-- Search -->
            <form class="d-flex search-form my-2 my-md-0" method="GET" action="/listings">
                <input class="form-control search-inp" type="search" placeholder="Search Country" name="search">
                <button class="btn search-btn ms-2">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
  
            <!-- Right Links -->
            <div class="navbar-nav ms-md-3 nav-actions mt-2 mt-md-0">
  
                <a class="nav-link action-link" href="/listings/new">Add Listing</a>
  
                <% if (!currUser) { %>
                    <a class="nav-link action-link" href="/signup"><b>Sign up</b></a>
                    <a class="nav-link action-link" href="/login"><b>Log in</b></a>
                <% } %>
  
                <% if (currUser) { %>
                    <a class="nav-link action-link" href="/logout"><b>Log out</b></a>
                <% } %>
  
            </div>
  
        </div>
  
    </div>
  </nav>
  